body {
  font: 11px sans-serif;
}

h1 {
	text-align: center;
	font-size: 30px;
}

h2 {
	text-align: center;
	font-size: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#tm_vis {
	float:right;
}

#sp_vis {
	float:left;
}