body {
  font: 12px sans-serif;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-right:10px solid black; 
	z-index:  90000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.chart {
	display: block;
	margin: auto;
	margin-top: 40px;
}

text {
	font-size: 11px;
}

rect {
	fill: none;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.node {
  border: solid 1px white;
  font: 11px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#viz_container {
	position: relative;
	width: 1340px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#tm_vis {
	float: left;
	margin-left: 10px;
}

#sp_vis {
	float: left;
	margin-right: 10px;
}

#season_slider {
	position:  relative;
	width:  1200px;
	margin-left:auto;
	margin-right:auto;
}